<a class="mdui-list-item mdui-ripple" href="/admin">
	<i class="mdui-list-item-icon mdui-icon material-icons">home</i>
	<div class="mdui-list-item-content">总览</div>
</a>
<a class="mdui-list-item mdui-ripple" href="/admin/reports">
	<i class="mdui-list-item-icon mdui-icon material-icons">dashboard</i>
	<div class="mdui-list-item-content">用户反馈</div>
</a>
<a class="mdui-list-item mdui-ripple" href="/admin/comments">
	<i class="mdui-list-item-icon mdui-icon material-icons">dashboard</i>
	<div class="mdui-list-item-content">用户申诉处理</div>
</a>
<a class="mdui-list-item mdui-ripple" href="/admin/super">
	<i class="mdui-list-item-icon mdui-icon material-icons">dashboard</i>
	<div class="mdui-list-item-content">高级管理命令行</div>
</a>
<div class="mdui-divider"></div>