<a class="mdui-list-item mdui-ripple" href="/settings/info">
	<i class="mdui-list-item-icon mdui-icon material-icons">info</i>
	<div class="mdui-list-item-content">个人设置</div>
</a>
<a class="mdui-list-item mdui-ripple" href="/settings/profile">
	<i class="mdui-list-item-icon mdui-icon material-icons">accessibility</i>
	<div class="mdui-list-item-content">隐私设置</div>
</a>
<a class="mdui-list-item mdui-ripple" href="/settings/security">
	<i class="mdui-list-item-icon mdui-icon material-icons">lock</i>
	<div class="mdui-list-item-content">安全设置</div>
</a>
<a class="mdui-list-item mdui-ripple" href="/settings/permission">
	<i class="mdui-list-item-icon mdui-icon material-icons">security</i>
	<div class="mdui-list-item-content">权限设置</div>
</a>
<a class="mdui-list-item mdui-ripple" href="/settings/blog">
	<i class="mdui-list-item-icon mdui-icon material-icons">book</i>
	<div class="mdui-list-item-content">博客设置</div>
</a>
<div class="mdui-divider"></div>